# Ignore virtual environment
carla_env/

# Ignore Python bytecode files
__pycache__/

.env
canonicar_init_instructions.txt
carla_fast_access.txt
connTest.py
.vscode
env
CUDA.py

Smoothed_Dataset.xlsx

Extended_Lap_Data_Updated_unique_v5_shuffled.csv
Extended_Lap_Data_Updated_unique_v5.csv